.card {
  position: relative;
  background-image: url("../assets/card.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
  z-index: 999;
}

.card-img {
  display: block;
  width: 50%;
}
