.monster-img {
  width: 35%;
  animation: breathing 3s ease-out infinite normal;
}

.monster-status {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.monster-name {
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
